<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" href="estilo.css">
<!-- Compiled and minified CSS -->
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">
<meta charset="UTF-8">
<title>Login</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
	crossorigin="anonymous">
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<div class="container-fluid">
			<a class="navbar-brand" th:href="@{/}"><i class="material-icons">home</i></a>
			<button class="navbar-toggler" type="button"
				data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
		
		</div>
	</nav>
	<br />
	<br />
	<div class="container">
		<div class="row">
			<div class="col-md-6 offset-md-3">

				<div th:if="${param.error}">
					<div class="alert alert-danger">Matricula ou senha informadas
						são inválidas</div>
				</div>
				<div th:if="${param.logout}">
					<div class="alert alert-success">Logout Feito com Sucesso.</div>
				</div>

				<div class="card">
					<div class="card-header">
						<h2 class="text-center">Login</h2>
					</div>
					<div class="card-body">
						<form method="post" role="form" th:action="@{/login}"
							class="form-horizontal">
							<div class="form-group mb-3">
								<label class="control-label">Matricula</label> <input
									type="text" id="username" name="username" class="form-control"
									placeholder="Digite sua matricula" />
							</div>

							<div class="form-group mb-3">
								<label class="control-label"> Password</label> <input
									type="password" id="password" name="password"
									class="form-control" placeholder="Digite sua senha" />
							</div>
							<div class="form-group mb-3">
								<button type="submit" class="btn btn-primary">Entrar</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>